header {
    height: 600px;
    background-image: url(../imgs/home/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg);
}




/* start clints section */
.clints-section .box img {
    width: 250px;
    height: 170px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid var(--grayColor);
    background-color: rgb(51, 51, 51);
}

/* media querry */
@media (max-width:1199px) {
    .clints-section .box img {
        width: 235px;
    }
}
@media (max-width:991px) {
    .clints-section .box img {
        width: 350px;
        height: 300px;
    }
}
@media (max-width:767px) {
    .clints-section .box img {
        width: 260px;
    }
}
@media (max-width:575px) {
    .clints-section .box img {
        width: 100%;
        height: 98%;
    }
}