/* link google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Londrina+Outline&family=Londrina+Shadow&family=Roboto:wght@300;400;500;700&family=Sriracha&family=Tajawal:wght@300;400;700&display=swap');

:root {
    --grayColor: #aaa8a8;
    --cyanGreenColor: #51a29d;
    --navyBlue: #393e57;
    --whiteColor: #ffffff;
    --blackColor: #000;
}

.margin-bottom {
    margin-bottom: 100px;
}

*{
    font-family: 'Tajawal', sans-serif;
}


/* start header */
header {
    width: 100%;
    background-size: cover;
    background-position: center center;
}
/* start navbar section */
.navbar {
    position: static;
    top: -90px;
    padding: 0;
    z-index: 999;
    font-weight: 400;
    transition: 1s;
}
.navbar.sticky {
    background-color: #fff!important;
    transition: 1s;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    z-index: 15;
}
.navbar .navbar-brand {
    display: flex !important;
    gap: 5px;
    position: relative;
    overflow: hidden;
}
.navbar .navbar-brand span {
    font-size: 25px;
}
.navbar .navbar-brand .nav-img-1 {
    width: 40px;
}
.navbar .navbar-brand .nav-img-2 {
    display: none;
    width: 40px;
}
.navbar .navbar-toggler {
    border: none;
}
.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler-icon i {
    color: #fff;
    font-size: 23px;
}
.navbar .nav-link {
    color: var(--whiteColor) !important;
    position: relative;
}
.navbar .nav-link::after {
    content: "";
    position: absolute;
    background-color: var(--whiteColor);
    height: 2px;
    width: 0;
    left: 0;
    bottom: 3px;
    transition: 1s;
}
.navbar .nav-link:hover::after {
    width: 100%;
}
.navbar #language-selector {
    background-color: var(--cyanGreenColor);
    color: var(--whiteColor);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.navbar #language-selector:focus {
    outline: none;
    box-shadow: none !important;
}
.navbar #language-selector option {
    background-color: var(--grayColor);
}
.navbar .dropdown-menu {
    padding: 10px;
    margin-top: 2px;
}
.navbar .dropdown-menu a {
    color: var(--navyBlue);
    font-weight: bold;
}
.navbar .dropdown-menu a:hover {
    background-color: var(--cyanGreenColor);
    border-radius: 20px;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
}
.sticky .navbar-brand {
    display: flex;
}
.sticky .navbar-brand .nav-img-1 {
    display: none;
}
.sticky .navbar-brand .nav-img-2 {
    display: block;
}
.sticky .navbar-brand span {
    color: var(--navyBlue);
    margin-left: 5px;
}
.sticky .nav-link,
.sticky .navbar-toggler-icon i {
    color: var(--navyBlue) !important;
    font-size: 18px;
}
.sticky .nav-link::after {
    background-color: var(--cyanGreenColor);
}
/* end navbar section */

/* start hero section */
.hero-section {
    position: relative;
    width: 100%;
    margin-top: 150px;
}
.hero-section .hero-content h2 {
    color: #fff;
    font-size: 50px;
}

/* media querry */
@media (max-width:991px) {
    .hero-section {
        margin-top: 30px;
    }
}
@media (max-width:575px) {
    .hero-section {
        margin-top: 100px;
    }
    .hero-section .hero-content h2 {
        font-size: 30px;
    }
}
/* end hero section */

/* end header */



/* start newsletter-section */
.newsletter {
    background-color: var(--navyBlue);
}
.newsletter .newsText p {
    width: 700px;
    margin-top: -10px;
}

.newsletter .form {
    display: flex;
    margin-top: 20px;
}
.newsletter .form input {
    height: 45px;
    padding: 0 10px;
    font-size: 20px;
    width: 320px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}
.newsletter .form input:focus {
    box-shadow: none;
    outline: none;
}
.newsletter .form button {
    color: var(--whiteColor);
    width: 80px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--cyanGreenColor);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* do media query for responsive */
@media (max-width:1199px) {
    .newsletter .newsText p {
        width:550px;
    }
    .newsletter .form input {
        width: 300px;
    }
    .newsletter .form input::placeholder {
        font-size: 18px;
    }
}
@media (max-width:991px) {
    .newsletter .newsText p {
        width:350px;
    }
    .newsletter .form input {
        width: 250px;
    }
    .newsletter .form input::placeholder {
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .newsletter .newsText p {
        width:250px;
    }
    .newsletter .form input {
        width: 180px;
    }
    .newsletter .form input::placeholder {
        font-size: 10.5px;
    }
    .newsletter .form button {
        font-size: 13px;
    }
}
@media (max-width:575px) {
    .newsletter .newsText p {
        width: 100%;
    }
    .newsletter .container {
        display: block !important;
    }
    .newsletter .form input {
        width: 320px;
    }
    .newsletter .form input::placeholder {
        font-size: 100%;
    }
}
@media (max-width:333px) {
    .newsletter .form input {
        width: 200px;
    }
    .newsletter .form input::placeholder {
        font-size: 70%;
    }
    .newsletter .form button {
        width: 50px;
        font-size: 12px;
    }
}
/* end newsletter-section */




/* start footer */
footer .row .logo {
    width: 35px;
    border-radius: 50%;
}
footer .row .rouya {
    font-weight: bold;
    color: var(--navyBlue);
    font-size: 20px;
}
footer .row p {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: -8px;
}
footer .row span {
    color: var(--blackColor);
    font-size: 18px;
}
footer .row .socialIcons i {
    padding-right: 4px;
    font-size: 20px;
    
    cursor: pointer;
    color: var(--navyBlue);
}
footer .row .socialIcons a  {
   display: inline;
  
}
footer .row .socialIcons i:hover {
    color: var(--cyanGreenColor);
}
footer .row h4 {
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: capitalize;
    color: var(--navyBlue) !important;
}
footer .row a {
    text-transform: capitalize;
    margin-bottom: 8px;
    display: block;
    text-decoration: none;
    color: gray;
}
footer .row img {
    width: 70%;
}
footer .row .payApp,
footer .row .payPlay {
    border: 1px solid var(--orangeColor);
    border-radius: 6px;
    cursor: pointer;
    width: 135px;
}
footer .row .pay {
    width: 200px;
}

/* do media query for responsive */
@media (max-width:1199px) {
    footer .row .payApp,
    footer .row .payPlay {
        width: 110px !important;
    }
}
@media (max-width:991px) {
    footer .row .payApp,
    footer .row .payPlay {
        width: 50% !important;
    }
}
@media (max-width:767px) {
    footer .box {
        text-align: center;
    }
    footer .row .payApp,
    footer .row .payPlay {
        width: 30% !important;
    }
    footer .row .installApp {
        justify-content: center;
    }
}
.footer-bottom {
    padding: 20px 0;
}
.footer-bottom .container {
    color: rgb(124, 124, 124);
}
/* end footer */