header {
    height: 90vh !important;
}
header .content-row {
    margin-top: 50px;
}
@media (max-width: 991px) {
    header .row img {
        height: 255px !important;
    }
}
@media (max-width: 767px) {
    header {
        height: 100vh !important;
    }
}


/* start IntroducingNetworks section */
.IntroducingNetworks .row .IntroducingNetworks-text {
    color: var(--whiteColor);
}
.IntroducingNetworks .row .IntroducingNetworks-text .text-arb {
    background-color: var(--cyanGreenColor);
    padding: 20px 40px;
    height: 295px;
    border-radius: 20px;
}
.IntroducingNetworks .row .IntroducingNetworks-img {
    background-image: url(../imgs/network/futuristic-smart-city-with-5g-global-network-technology.jpg);
    background-size: cover;
    background-position: center center;
    height: 295px;
    border-radius: 20px;
}
.IntroducingNetworks .row .IntroducingNetworks-img h2 {
    color: var(--whiteColor);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 50px;
    position: absolute;
    margin-top: 30px;
}

/* media querry */
@media (max-width: 1199px) {
    .Introducing2 .Introducing h2 {
        text-transform: uppercase;
        margin: 0 20px !important;
        font-size: 20px !important;
        margin-top: 50px !important;
    }
}
@media (max-width:991px) {
    .Introducing2 .Introducing h2 {
        margin: 0 !important;
    }
    .IntroducingNetworks .row .IntroducingNetworks-img h2 {
        margin: 20px 30px;
        font-size: 25px;
    }
    .IntroducingNetworks .row .IntroducingNetworks-text .text-arb {
        padding: 10px 20px;
        line-height: 18px;
    }
}
@media (max-width:767px) {
    .IntroducingNetworks .row .IntroducingNetworks-text .text-arb {
        line-height: 25px;
        margin-top: 10px;
    }
    .IntroducingNetworks .row .IntroducingNetworks-img {
        height: 250px;
        margin-left: 0;
    }
}
@media (max-width:575px) {
    .IntroducingNetworks .row .IntroducingNetworks-text .text-arb {
        padding: 10px;
    }
    .IntroducingNetworks .row .IntroducingNetworks-text .text-arb {
        height: 100%;
    }
}
/* start IntroducingNetworks section */

/* start NetworkForms section */
.NetworkForms .box {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    border-radius: 20px;
    padding: 30px 50px;
}
@media (max-width:575px) {
    .NetworkForms .box {
        padding: 10px 20px;
    }
}
/* end NetworkForms section */
/* start NetworkTypes section */
.NetworkTypes .box {
    background-color: var(--cyanGreenColor);
    color: var(--whiteColor);
    padding: 30px 50px;
    border-radius: 20px;
}
@media (max-width:575px) {
    .NetworkTypes .box {
        padding: 10px 20px;
    }
}
/* end NetworkTypes section */
/* start NetworkBenefits section */
.NetworkBenefits .box {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 30px 50px;
    border-radius: 20px;
}
@media (max-width:575px) {
    .NetworkBenefits .box {
        padding: 10px 20px;
    }
}
/* end NetworkBenefits section */